
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-wrap">
			<ul>
				<li>
					<a href="" class="footer-title">Информация</a>
					<ul>
						<li><a href="">О компании</a></li>
						<li><a href="">Реквизиты</a></li>
						<li><a href="">Где купить</a></li>
						<li><a href="">Гарантия и сервисное обслуживание</a></li>
						<li><a href="">Обмен и возврат</a></li>
						<li><a href="">Сертификат</a></li>
						<li><a href="">Оплата</a></li>
						<li><a href="">Доставка</a></li>
						<li><a href="">Сервисный центр</a></li>
						<li><a href="">Политика конфеденциальности</a></li>
					</ul>
				</li>
				<li class="menu-catalog">
					<a href="" class="footer-title">Каталог</a>
					<ul>
						<li><a href="">Снегоуборочная техника</a></li>
						<li><a href="">Бензоинструмент</a></li>
						<li><a href="">Электроинструмент</a></li>
						<li><a href="">Аккумуляторный инструмент</a></li>
						<li><a href="">Мультифункциональная система</a></li>
						<li><a href="">Комбисистема</a></li>
						<li><a href="">Трактора для газонов</a></li>
						<li><a href="">Роботы-газонокосилки iMOW</a></li>
						<li><a href="">Ручной инструмент</a></li>
						<li><a href="">Ручные опрыскиватели серии SG</a></li>
						<li><a href="">Механические подметальные устройства серии KG</a></li>
						<li><a href="">Масла, эксплуатационные жидкости</a></li>
						<li><a href="">Комплектующие и принадлежности</a></li>
						<li><a href="">Канистры и системы заправки</a></li>
						<li><a href="">Запчасти и инструмент</a></li>
						<li><a href="">Экипировка</a></li>
						<li><a href="">Сувенирная продукция</a></li>
						<li><a href="">Для детей</a></li>
						<li><a href="">Сертификаты</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="info-wrap">
			<div class="contacts-wrap">
				<div class="footer-title">Контакты</div>
				<div class="phone-wrap">
					<a href="tel:84954808404">+7(495)480-84-04</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:shop@pilimkosim.ru">shop@pilimkosim.ru</a>
				</div>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-inst.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-yt.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
			</div>
			<div class="pays-wrap">
				<div class="footer-title">Принимаем к оплате:</div>
				<div class="pays-items">
					<div class="elm-pay"><img src="./img/icons/pay01.svg" alt=""></div>
					<span class="elm-pay"><img src="./img/icons/pay02.svg" alt=""></span>
					<span class="elm-pay"><img src="./img/icons/pay03.svg" alt=""></span>
					<span class="elm-pay"><img src="./img/icons/pay04.svg" alt=""></span>
				</div>
				<div class="pays-links">
					<a href="" class="elm-pay-h">
						<img src="./img/icons/pay001.svg" alt="">
					</a>
					<a href="" class="elm-pay-google">
						<img src="./img/icons/pay002.svg" alt="">
					</a>
					<a href="" class="elm-pay-apple">
						<img src="./img/icons/pay003.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="form-wrap">
			<div class="footer-title">Обратная связь</div>
			<p>У вас есть  вопросы, оставьте свои контакты, наши менеджеры обязательно свяжутся с вами</p>
			<form action="/" class="frm-footer">
				<div class="frm-row">
					<input type="text" placeholder="Ваше имя">
				</div>
				<div class="frm-row">
					<input type="tel" placeholder="Ваш телефон">
				</div>
				<div class="frm-row-submit">
					<div class="submit-info">
						Нажимая на кнопку, даю согласие на обработку <a href="" class="link-main">Персональных данных</a>
					</div>
					<div class="submit-button">
						<input type="submit" value="Отправить" class="button-second">
					</div>
				</div>
			</form>
			<div class="copy-wrap">pilimkosim.ru - магазин садовой техники STIHL</div>
		</div>
	</div>
</footer>
<!-- /footer -->