<!--side-wrap-->
<div class="side-wrap">
	<div class="side-catalog-wrap">
		<div class="cat-title-wrap">
			<div class="cat-title">Каталог</div>
		</div>
		<div class="cat-list-wrap">
			<ul>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat01.svg" alt="">
					</span>
						<span class="menu-title">Снегоуборочная техника</span>
					</a>
				</li>
				<li class="cat-submenu">
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat02.svg" alt="">
					</span>
						<span class="menu-title">Бензоинструмент</span>
					</a>
				</li>
				<li class="cat-submenu">
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat03.svg" alt="">
					</span>
						<span class="menu-title">Электроинструмент</span>
					</a>
				</li>
				<li class="cat-submenu">
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat04.svg" alt="">
					</span>
						<span class="menu-title">Аккумуляторный инструмент</span>
					</a>
				</li>
				<li class="cat-submenu">
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat05.svg" alt="">
					</span>
						<span class="menu-title">Комбисистема</span>
					</a>
				</li>
				<li class="cat-submenu">
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat06.svg" alt="">
					</span>
						<span class="menu-title">Мультифункциональная система</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat07.svg" alt="">
					</span>
						<span class="menu-title">Трактора для газонов</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat08.svg" alt="">
					</span>
						<span class="menu-title">Роботы-газонокосилки iMOW</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat09.svg" alt="">
					</span>
						<span class="menu-title">Механические подметальные устройства серии KG</span>
					</a>
				</li>
				<li class="cat-submenu">
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat10.svg" alt="">
					</span>
						<span class="menu-title">Ручной инструмент</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat11.svg" alt="">
					</span>
						<span class="menu-title">Ручные опрыскиватели серии SG</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat12.svg" alt="">
					</span>
						<span class="menu-title">Масла, эксплуатационные жидкости</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat13.svg" alt="">
					</span>
						<span class="menu-title">Цепные пилы</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat14.svg" alt="">
					</span>
						<span class="menu-title">Мойки высокого давления </span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat15.svg" alt="">
					</span>
						<span class="menu-title">Мотокосы и тримеры</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat16.svg" alt="">
					</span>
						<span class="menu-title">Газонокосилки</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat17.svg" alt="">
					</span>
						<span class="menu-title">Пылесосы</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat18.svg" alt="">
					</span>
						<span class="menu-title">Бензорезы</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat19.svg" alt="">
					</span>
						<span class="menu-title">Запчасти и инструмент</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat20.svg" alt="">
					</span>
						<span class="menu-title">Садовые измельчители</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat21.svg" alt="">
					</span>
						<span class="menu-title">Экипировка </span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat22.svg" alt="">
					</span>
						<span class="menu-title">Канистры и системы заправки</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat23.svg" alt="">
					</span>
						<span class="menu-title">Воздуходувные устройства</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat24.svg" alt="">
					</span>
						<span class="menu-title">Комплектующие и принадлежности</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat25.svg" alt="">
					</span>
						<span class="menu-title">Сувенирная продукция</span>
					</a>
				</li>
				<li>
					<a href="" class="cat-menu-button">
					<span class="menu-ico">
						<img src="./img/icons/cat26.svg" alt="">
					</span>
						<span class="menu-title">Для детей</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--/side-wrap-->